USE [new_quality_patrol]
GO
/****** Object:  Table [dbo].[dt_temuan_patrol]    Script Date: 2/4/2026 3:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_temuan_patrol](
	[id_temuan_patrol] [int] IDENTITY(1,1) NOT NULL,
	[tanggal_patrol] [varchar](50) NULL,
	[id_auditor] [int] NULL,
	[nama_auditor] [varchar](200) NULL,
	[nama_auditee] [varchar](200) NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[deskripsi_temuan] [varchar](1024) NULL,
	[analisa_penyebab] [varchar](1024) NULL,
	[action] [varchar](1024) NULL,
	[pic_action_departement_id] [int] NULL,
	[pic_action_section_id] [int] NULL,
	[due_date] [varchar](50) NULL,
	[status] [int] NULL,
	[nama_file] [varchar](200) NULL,
	[id_dt_schedule] [int] NULL,
	[evidence_file] [varchar](255) NULL,
	[status_approval] [int] NULL,
	[keterangan_cancel] [varchar](255) NULL,
	[keterangan_auditor] [varchar](255) NULL,
 CONSTRAINT [PK_dt_temuan_patrol] PRIMARY KEY CLUSTERED 
(
	[id_temuan_patrol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
