USE [henkaten_assy_dev]
GO
/****** Object:  Table [dbo].[departement]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departement](
	[id_departement] [int] IDENTITY(1,1) NOT NULL,
	[id_divisi] [int] NULL,
	[departement] [varchar](255) NULL,
	[keterangan_update] [varchar](50) NULL,
 CONSTRAINT [PK_departement] PRIMARY KEY CLUSTERED 
(
	[id_departement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[divisi]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[divisi](
	[id_divisi] [int] IDENTITY(1,1) NOT NULL,
	[divisi] [varchar](50) NULL,
 CONSTRAINT [PK_divisi] PRIMARY KEY CLUSTERED 
(
	[id_divisi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_data_karyawan]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_data_karyawan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[nama] [varchar](150) NULL,
	[id_divisi] [int] NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[id_sub_section] [int] NULL,
	[jabatan] [varchar](50) NULL,
	[kode_jabatan] [int] NULL,
	[status_karyawan] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[employe_status] [varchar](50) NULL,
	[org] [varchar](250) NULL,
	[status] [tinyint] NULL,
	[type_karyawan] [varchar](50) NULL,
	[type_golongan] [varchar](5) NULL,
 CONSTRAINT [PK_master_data_karyawan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_data_karyawan_golongan]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_data_karyawan_golongan](
	[created_at] [datetime] NULL,
	[npk] [int] NULL,
	[golongan] [int] NULL,
	[sub_gol] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_data_karyawan_subcount]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_data_karyawan_subcount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[nama] [varchar](150) NULL,
	[id_divisi] [int] NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[id_sub_section] [int] NULL,
	[jabatan] [varchar](50) NULL,
	[kode_jabatan] [int] NULL,
	[subcount_type] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[employe_status] [nchar](10) NULL,
	[org] [varchar](250) NULL,
	[status] [tinyint] NULL,
	[type_karyawan] [varchar](50) NULL,
	[type_golongan] [varchar](5) NULL,
 CONSTRAINT [PK_master_data_karyawan_subcount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_data_karyawan_vokasi]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_data_karyawan_vokasi](
	[npk] [int] NULL,
	[npv] [varchar](10) NULL,
	[nama] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[keterangan] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section](
	[id_section] [int] IDENTITY(1,1) NOT NULL,
	[id_departement] [int] NULL,
	[section] [varchar](100) NULL,
	[keterangan_update] [varchar](50) NULL,
 CONSTRAINT [PK_section] PRIMARY KEY CLUSTERED 
(
	[id_section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_bagian]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_bagian](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_departement] [int] NULL,
	[sub_bagian] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_sub_bagian] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_section]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_section](
	[id_sub_section] [int] IDENTITY(1,1) NOT NULL,
	[id_section] [int] NULL,
	[sub_section] [varchar](100) NULL,
	[keterangan_update] [varchar](50) NULL,
 CONSTRAINT [PK_sub_section] PRIMARY KEY CLUSTERED 
(
	[id_sub_section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/30/2026 4:13:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departement] ON 

INSERT [dbo].[departement] ([id_departement], [id_divisi], [departement], [keterangan_update]) VALUES (1, 4, N'EHS', N'old')
INSERT [dbo].[departement] ([id_departement], [id_divisi], [departement], [keterangan_update]) VALUES (2, 2, N'Fin, Acct & Risk Mgt Controller', N'old')
INSERT [dbo].[departement] ([id_departement], [id_divisi], [departement], [keterangan_update]) VALUES (3, 1, N'GA, IR & CSR', N'old')
SET IDENTITY_INSERT [dbo].[departement] OFF
GO
SET IDENTITY_INSERT [dbo].[divisi] ON 

INSERT [dbo].[divisi] ([id_divisi], [divisi]) VALUES (1, N'ADMINISTRATION')
INSERT [dbo].[divisi] ([id_divisi], [divisi]) VALUES (2, N'FIN, ACC, MARK & MIS')
INSERT [dbo].[divisi] ([id_divisi], [divisi]) VALUES (3, N'PRODUCTION SUPPORT & QA')
SET IDENTITY_INSERT [dbo].[divisi] OFF
GO
SET IDENTITY_INSERT [dbo].[master_data_karyawan] ON 

INSERT [dbo].[master_data_karyawan] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [status_karyawan], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (1, 396, N'TATI KRISNAWATIhhh', 1, 20, 42, NULL, N'Kepala Seksi', 4, N'cbi', N'tati_k@incoe.astra.co.id', CAST(N'2023-09-14T09:28:00.973' AS DateTime), N'Tetap', NULL, 0, N'REGULAR', N'A')
INSERT [dbo].[master_data_karyawan] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [status_karyawan], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (2, 412, N'MULAZIM', 5, 31, 48, NULL, N'Kepala Seksi', 4, N'cbi', N'mulazim@incoe.astra.co.id', CAST(N'2023-09-14T09:28:01.103' AS DateTime), N'Tetap', NULL, 1, N'REGULAR', N'A')
INSERT [dbo].[master_data_karyawan] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [status_karyawan], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (3, 442, N'MARINO', 5, 31, 43, 56, N'Operator', 7, N'cbi', NULL, CAST(N'2023-09-14T09:28:01.233' AS DateTime), N'Tetap', NULL, 0, N'REGULAR', N'B')
GO
SET IDENTITY_INSERT [dbo].[master_data_karyawan] OFF
GO
SET IDENTITY_INSERT [dbo].[master_data_karyawan_subcount] ON 

INSERT [dbo].[master_data_karyawan_subcount] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [subcount_type], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (1, 30101018, N'EKO ANGGA NUGRAHA', 5, 14, 35, 4, N'Support Packing', 10, N'gmt_prod', NULL, CAST(N'2024-03-26T10:49:48.303' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[master_data_karyawan_subcount] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [subcount_type], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (2, 30101139, N'RUDI WIJAYA', 5, 14, 35, 4, N'Support Packing', 10, N'gmt_prod', NULL, CAST(N'2024-03-26T10:49:50.720' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[master_data_karyawan_subcount] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [subcount_type], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (3, 30101096, N'M. JEPRI', 5, 14, 36, 2, N'Support Packing', 10, N'gmt_prod', NULL, CAST(N'2024-03-26T10:49:52.783' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[master_data_karyawan_subcount] OFF
GO
INSERT [dbo].[master_data_karyawan_vokasi] ([npk], [npv], [nama], [created_at], [keterangan]) VALUES (12022, N'022', N'MUHAMMAD IQBAL TAUHID', CAST(N'2024-09-12T11:25:53.123' AS DateTime), NULL)
INSERT [dbo].[master_data_karyawan_vokasi] ([npk], [npv], [nama], [created_at], [keterangan]) VALUES (12023, N'023', N'MOH. MIFTAKHUL ROZAK', CAST(N'2024-09-12T11:25:53.237' AS DateTime), NULL)
INSERT [dbo].[master_data_karyawan_vokasi] ([npk], [npv], [nama], [created_at], [keterangan]) VALUES (12024, N'024', N'WAHYU NUR SIDIK', CAST(N'2024-09-12T11:25:53.310' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[section] ON 

INSERT [dbo].[section] ([id_section], [id_departement], [section], [keterangan_update]) VALUES (1, 1, N'Environment', N'old')
INSERT [dbo].[section] ([id_section], [id_departement], [section], [keterangan_update]) VALUES (2, 1, N'Health & Safety', N'old')
INSERT [dbo].[section] ([id_section], [id_departement], [section], [keterangan_update]) VALUES (3, 2, N'Gen Acct & Tax', N'old')
SET IDENTITY_INSERT [dbo].[section] OFF
GO
SET IDENTITY_INSERT [dbo].[sub_bagian] ON 

INSERT [dbo].[sub_bagian] ([id], [id_departement], [sub_bagian], [created_at], [updated_at], [deleted_at]) VALUES (1, 2, N'AMB-1', CAST(N'2023-08-07T15:10:40.900' AS DateTime), NULL, NULL)
INSERT [dbo].[sub_bagian] ([id], [id_departement], [sub_bagian], [created_at], [updated_at], [deleted_at]) VALUES (2, 2, N'AMB-2', CAST(N'2023-08-07T15:10:41.990' AS DateTime), NULL, NULL)
INSERT [dbo].[sub_bagian] ([id], [id_departement], [sub_bagian], [created_at], [updated_at], [deleted_at]) VALUES (3, 2, N'WET', CAST(N'2023-08-07T15:10:42.870' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[sub_bagian] OFF
GO
SET IDENTITY_INSERT [dbo].[sub_section] ON 

INSERT [dbo].[sub_section] ([id_sub_section], [id_section], [sub_section], [keterangan_update]) VALUES (1, 36, N'Assembling A', N'old')
INSERT [dbo].[sub_section] ([id_sub_section], [id_section], [sub_section], [keterangan_update]) VALUES (2, 36, N'MCB & Industrial Batt', N'old')
INSERT [dbo].[sub_section] ([id_sub_section], [id_section], [sub_section], [keterangan_update]) VALUES (3, 35, N'Assembling G', N'old')
GO
SET IDENTITY_INSERT [dbo].[sub_section] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [npk], [username], [password], [created_at]) VALUES (1, 3012, N'mardani', N'User@prod2', CAST(N'2023-09-27T16:39:57.550' AS DateTime))
INSERT [dbo].[users] ([id], [npk], [username], [password], [created_at]) VALUES (83, 3014, N'PHS3014', N'12345', CAST(N'2023-09-27T16:40:05.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[master_data_karyawan] ADD  CONSTRAINT [DF_master_data_karyawan_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_data_karyawan_golongan] ADD  CONSTRAINT [DF_master_data_karyawan_golongan_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_data_karyawan_subcount] ADD  CONSTRAINT [DF_master_data_karyawan_subcount_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_data_karyawan_vokasi] ADD  CONSTRAINT [DF_master_data_karyawan_vokasi_created_at_1]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sub_bagian] ADD  CONSTRAINT [DF_sub_bagian_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
