USE [new_quality_patrol]
GO
/****** Object:  Table [dbo].[dt_daftar_hadir]    Script Date: 1/30/2026 4:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_daftar_hadir](
	[id_sign] [int] IDENTITY(1,1) NOT NULL,
	[npk] [varchar](50) NULL,
	[role] [int] NULL,
	[signature_path] [varchar](256) NULL,
	[signed_at] [varchar](50) NULL,
	[id_schedule] [int] NULL,
	[keterangan] [int] NULL,
	[type_data] [varchar](10) NULL,
 CONSTRAINT [PK_dt_daftar_hadir] PRIMARY KEY CLUSTERED 
(
	[id_sign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_schedule]    Script Date: 1/30/2026 4:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_schedule](
	[id_schedule] [int] IDENTITY(1,1) NOT NULL,
	[id_dept] [int] NULL,
	[id_section] [int] NULL,
	[tanggal_patrol] [varchar](50) NULL,
	[tanggal_actual] [varchar](50) NULL,
	[created_at] [varchar](50) NULL,
 CONSTRAINT [PK_dt_schedule] PRIMARY KEY CLUSTERED 
(
	[id_schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_temuan_patrol]    Script Date: 1/30/2026 4:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_temuan_patrol](
	[id_temuan_patrol] [int] IDENTITY(1,1) NOT NULL,
	[tanggal_patrol] [varchar](50) NULL,
	[id_auditor] [int] NULL,
	[nama_auditor] [varchar](200) NULL,
	[nama_auditee] [varchar](200) NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[deskripsi_temuan] [varchar](1024) NULL,
	[analisa_penyebab] [varchar](1024) NULL,
	[action] [varchar](1024) NULL,
	[pic_action_departement_id] [int] NULL,
	[pic_action_section_id] [int] NULL,
	[due_date] [varchar](50) NULL,
	[status] [int] NULL,
	[nama_file] [varchar](200) NULL,
	[id_dt_schedule] [int] NULL,
	[evidence_file] [varchar](255) NULL,
	[sign_type] [varchar](20) NULL,
	[ttd_file] [varchar](1024) NULL,
	[keterangan_cancel] [varchar](255) NULL,
	[keterangan_auditor] [varchar](255) NULL,
 CONSTRAINT [PK_dt_temuan_patrol] PRIMARY KEY CLUSTERED 
(
	[id_temuan_patrol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/30/2026 4:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[created_at] [datetime] NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dt_daftar_hadir] ON 

INSERT [dbo].[dt_daftar_hadir] ([id_sign], [npk], [role], [signature_path], [signed_at], [id_schedule], [keterangan], [type_data]) VALUES (33, N'3204', 2, NULL, NULL, 14, 0, N'plan')
INSERT [dbo].[dt_daftar_hadir] ([id_sign], [npk], [role], [signature_path], [signed_at], [id_schedule], [keterangan], [type_data]) VALUES (34, N'3913', 2, N'uploads/signatures/sign_digital_3913_20260106132409.png', N'2026-01-06 13:24:09', 14, 1, N'plan')
INSERT [dbo].[dt_daftar_hadir] ([id_sign], [npk], [role], [signature_path], [signed_at], [id_schedule], [keterangan], [type_data]) VALUES (35, N'3913', 2, N'uploads/signatures/sign_digital_3913_20260106132409.png', N'2026-01-06 13:24:09', 14, 1, N'actual')
SET IDENTITY_INSERT [dbo].[dt_daftar_hadir] OFF
GO
SET IDENTITY_INSERT [dbo].[dt_schedule] ON 

INSERT [dbo].[dt_schedule] ([id_schedule], [id_dept], [id_section], [tanggal_patrol], [tanggal_actual], [created_at]) VALUES (14, 25, 71, N'08/01/2026', N'06/01/2026', N'2026-Jan-Tue 01:01:16')
INSERT [dbo].[dt_schedule] ([id_schedule], [id_dept], [id_section], [tanggal_patrol], [tanggal_actual], [created_at]) VALUES (15, 2, 4, N'08/01/2026', NULL, N'2026-Jan-Tue 02:01:17')
INSERT [dbo].[dt_schedule] ([id_schedule], [id_dept], [id_section], [tanggal_patrol], [tanggal_actual], [created_at]) VALUES (16, 30, 57, N'22/01/2026', NULL, N'2026-Jan-Tue 03:01:19')
SET IDENTITY_INSERT [dbo].[dt_schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[dt_temuan_patrol] ON 

SET IDENTITY_INSERT [dbo].[dt_temuan_patrol] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [npk], [created_at], [role]) VALUES (84, 4368, CAST(N'2025-12-09T08:36:55.000' AS DateTime), 1)
INSERT [dbo].[users] ([id], [npk], [created_at], [role]) VALUES (93, 3515, CAST(N'2025-12-30T13:32:32.000' AS DateTime), 1)
INSERT [dbo].[users] ([id], [npk], [created_at], [role]) VALUES (94, 1099, CAST(N'2026-01-19T10:29:15.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
