USE [new_quality_patrol]
GO
/****** Object:  Table [dbo].[departement]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departement](
	[id_departement] [int] IDENTITY(1,1) NOT NULL,
	[id_divisi] [int] NULL,
	[departement] [varchar](255) NULL,
	[keterangan_update] [varchar](50) NULL,
 CONSTRAINT [PK_departement] PRIMARY KEY CLUSTERED 
(
	[id_departement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[divisi]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[divisi](
	[id_divisi] [int] IDENTITY(1,1) NOT NULL,
	[divisi] [varchar](50) NULL,
 CONSTRAINT [PK_divisi] PRIMARY KEY CLUSTERED 
(
	[id_divisi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_daftar_hadir]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_daftar_hadir](
	[id_sign] [int] IDENTITY(1,1) NOT NULL,
	[npk] [varchar](50) NULL,
	[role] [int] NULL,
	[signature_path] [varchar](256) NULL,
	[signed_at] [varchar](50) NULL,
	[id_schedule] [int] NULL,
	[keterangan] [int] NULL,
	[type_data] [varchar](10) NULL,
 CONSTRAINT [PK_dt_daftar_hadir] PRIMARY KEY CLUSTERED 
(
	[id_sign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_schedule]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_schedule](
	[id_schedule] [int] IDENTITY(1,1) NOT NULL,
	[id_dept] [int] NULL,
	[id_section] [int] NULL,
	[tanggal_patrol] [varchar](50) NULL,
	[tanggal_actual] [varchar](50) NULL,
	[created_at] [varchar](50) NULL,
 CONSTRAINT [PK_dt_schedule] PRIMARY KEY CLUSTERED 
(
	[id_schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_temuan_patrol]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_temuan_patrol](
	[id_temuan_patrol] [int] IDENTITY(1,1) NOT NULL,
	[tanggal_patrol] [varchar](50) NULL,
	[id_auditor] [int] NULL,
	[nama_auditor] [varchar](200) NULL,
	[nama_auditee] [varchar](200) NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[deskripsi_temuan] [varchar](1024) NULL,
	[analisa_penyebab] [varchar](1024) NULL,
	[action] [varchar](1024) NULL,
	[pic_action_departement_id] [int] NULL,
	[pic_action_section_id] [int] NULL,
	[due_date] [varchar](50) NULL,
	[status] [int] NULL,
	[nama_file] [varchar](200) NULL,
	[id_dt_schedule] [int] NULL,
	[evidence_file] [varchar](255) NULL,
	[sign_type] [varchar](20) NULL,
	[ttd_file] [varchar](1024) NULL,
	[keterangan_cancel] [varchar](255) NULL,
 CONSTRAINT [PK_dt_temuan_patrol] PRIMARY KEY CLUSTERED 
(
	[id_temuan_patrol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_data_karyawan]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_data_karyawan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[nama] [varchar](150) NULL,
	[id_divisi] [int] NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[id_sub_section] [int] NULL,
	[jabatan] [varchar](50) NULL,
	[kode_jabatan] [int] NULL,
	[status_karyawan] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[employe_status] [varchar](50) NULL,
	[org] [varchar](250) NULL,
	[status] [tinyint] NULL,
	[type_karyawan] [varchar](50) NULL,
	[type_golongan] [varchar](5) NULL,
 CONSTRAINT [PK_master_data_karyawan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section](
	[id_section] [int] IDENTITY(1,1) NOT NULL,
	[id_departement] [int] NULL,
	[section] [varchar](100) NULL,
	[keterangan_update] [varchar](50) NULL,
 CONSTRAINT [PK_section] PRIMARY KEY CLUSTERED 
(
	[id_section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/5/2026 8:05:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[created_at] [datetime] NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[master_data_karyawan] ADD  CONSTRAINT [DF_master_data_karyawan_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
